<!doctype html>
<html lang="en">

    <%- include('header'); -%>

    <h2 class="title">ECS Example Game</h2>

    <div id="game">
        <div v-if="connected && currentStage === 'Auth'">
            <%- include('chat'); -%>
            <%- include('userAuth'); -%>
        </div>
        <div v-else-if="connected && currentStage === 'Waiting'">
            <%- include('waiting'); -%>
        </div>
        <div v-else-if="connected && currentStage === 'PromptCollection'">
            <%- include('promptCollect'); -%>
        </div>
        <div v-else-if="connected && currentStage === 'Answer'">
            <%- include('answerStage'); -%>
        </div>
        <div v-else-if="connected && currentStage === 'Voting'">
            <%- include('Voting'); -%>
        </div>
        <div v-else>
            <p>Connecting...</p>
        </div>
    </div>

    <%- include('footer'); -%>

</html>
