<!doctype html>
<html lang="en">

    <%- include('header'); -%>

    <h2 class="title">ECS Example Game Display</h2>

    <div id="game">
        <div v-if="connected && currentStage != 'PromptCollection' && currentStage != 'Answer' && currentStage != 'Voting' && currentStage != 'ScoresShow' && currentStage != 'FinalScore' ">
            <ul id="chat">
                <li v-for="message in messages">{{message}}</li>
            </ul>
            <div class="host-container">
                <h4> Waiting for everyone to join!</h4>
                <a href="https://quiplash-cloud.nw.r.appspot.com/" class="join-link">Start Now</a>
                <h5>{{playersNumber}} players have joined</h5>
            </div>
            <ul class="players-list">
                <li v-for="(player, index) in players" :key="index">
                    {{ player }}
                </li>
            </ul>
            <div class="host-container">
                <h5>{{audiencesNumber}} Audiences have joined</h5>
            </div>
            <ul class="players-list">
                <li v-for="(audience, index) in audiences" :key="index">
                    {{ audience }}
                </li>
            </ul>
        </div>
        
        <div v-else-if="connected && currentStage === 'PromptCollection'">
            <%- include('promptCollectDisplay'); -%>
        </div>
        <div v-else-if="connected && currentStage === 'Answer'">
            <%- include('answerStageDisplay'); -%>
        </div>
        <div v-else-if="connected && currentStage === 'Voting'">
            <%- include('VotingDisplay'); -%>
        </div>
        <div v-else-if="connected && currentStage === 'ScoresShow'">
            <%- include('score'); -%>
        </div>
        <div v-else-if="connected && currentStage === 'FinalScore'">
            <%- include('finalScores'); -%>
        </div>
        <div v-else>
            <p>Connecting...</p>
        </div>
    </div>

    <%- include('footer'); -%>

</html>
